@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background: linear-gradient(to right, #2196f3, #1976d2, #0d47a1);
}

/* Custom container utility */
.container-custom {
  @apply max-w-[97%]  mx-auto;
}
.gradient-bg-1 {
  background: linear-gradient(to right, #164e7c, #05417d, #3574d1);
}


body {
  font-family: theme("fontFamily.grotesk"); /* 👈 Tailwind Class Apply */
}
